# This file contains patterns for files that you
# should NOT check in to the git repository.
*.class
bin/
build/
out/
.DS[Ss]tore
# For test project, ignore the source folder
src/
# Python files
__pycache__
*.pyc
# IDE files
.idea
*.iml
*.ctxt
*.bluej
.classpath
.project
.settings
build.xml
manifest.mf
.nbproject
nbproject
.vscode
vscode
